html {
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cfd4d9;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6bcc3;
}

::selection {
  background: #0f6e6e;
  color: #fff;
}
